.cars-list-wrapper {
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - 100px);
    justify-content: space-evenly;
}

.status {
    border: 1px solid rgba($color: #f5cb5c, $alpha: 0.2);
    padding: 20px;
    background: radial-gradient(#333533, #242423);
    width: 30%;
    color:white;
}

.column-header{
    font-weight: bold;
    text-align: center;
    font-size: large;
}